$container-max-widths: (
        sm: 540px,
        md: 720px
);

.custom-link {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.custom-nav-link {
  display: flex;
  height: 100%;
  width: 100%;
}

@import "~bootstrap/scss/bootstrap";
